<a href="https://colab.research.google.com/github/sophiaperaza/E2E-Final/blob/main/E2E_Assignment_final.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Setting up VM Configurations via Microsoft Azure

**1.**  Set up a Virtual Machine on Microsoft Azure called production
Use default parameter; set the authentication type as password and entered a password satisfying the criteria

**2.**  Repeat setting up A Virtual Machine on Microsoft Azure with new VM called replica ( will be used) for later steps)

**3.** After setting up the VM, go the networking settings and add an inbound port rule. Change service to MySQL and add name MySQL_Port3306

In [ ]:
## Note the public IP for the VMs

## Installing mySQL on the instance:

**4.** 

**a.** For production server- Open terminal and ssh [INSERTUSERNAME] @[INSERT IP ADDRESS HERE]

**b.** Select Yes to Are you sure you want to continue connecting?
Enter Password

**5.** Enter command sudo apt-get update

In [ ]:
## optional step: While the updates are running, open a separate command prompt window and repeat Step 3 with the Replica user and password

**6.** **a.** Once updates are completed, install mySQL by entering  'sudo apt-get install my sql-client my sql-server '(into each terminal)

**b.** Select yes to continue

**c.** run command sudo mysql

## Creating a mySQL user that can access all databases on that mySQL installation

**7.** 

**a.** In the terminal, enter: show databases

**b.** Run command CREATE USER 'dba1'@'%' IDENTIFIED BY '*select a password to insert here*';

**c.** Run command GRANT ALL PRIVILEGES ON *.* TO 'dba1'@'%' WITH GRANT OPTION;
THEN CONFIRM: show grants for dba1;

**d.** To confirm this worked, login in with the command mysql -u dba1 -p

## Creating a database called e2e

 8.
 
a. Run command: " Create database e2e ; " 

b. Run command: " Show databases ; "

##  Write a python or R script that connects to your SQL instance, and in that script create a new table called ‘h1n1’, that lives within the ‘e2e’ database - with the following data: https://www.kaggle.com/arashnic/flu-data

Step 9: Run code below in a jupyter notebook

In [ ]:
import pandas as pd 
import sqlalchemy
from sqlalchemy import create_engine

In [ ]:
!pip install pymysql

Requirement already satisfied: pymysql in /usr/local/lib/python3.7/dist-packages (1.0.2)

In [ ]:
!pip install cryptography

Requirement already satisfied: cryptography in /usr/local/lib/python3.7/dist-packages (36.0.0)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.7/dist-packages (from cryptography) (1.15.0)
Requirement already satisfied: pycparser in /usr/local/lib/python3.7/dist-packages (from cffi>=1.12->cryptography) (2.21)

In [ ]:
pip install cryptography

Requirement already satisfied: cryptography in /usr/local/lib/python3.7/dist-packages (36.0.0)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.7/dist-packages (from cryptography) (1.15.0)
Requirement already satisfied: pycparser in /usr/local/lib/python3.7/dist-packages (from cffi>=1.12->cryptography) (2.21)

In [ ]:
MYSQL_HOSTNAME = 'IP ADDRESS'
MYSQL_USER = 'dba1'
MYSQL_PASSWORD = 'ENTER PASSWORD'
MYSQL_DATABASE = 'e2e'

In [ ]:
connection_string = f'mysql+pymysql://{MYSQL_USER}:{MYSQL_PASSWORD}@{MYSQL_HOSTNAME}:3306/{MYSQL_DATABASE}'
engine = create_engine(connection_string)

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/HHA504_E2E_FinalAssignment/main/H1N1_Flu_Vaccines.csv')

In [ ]:
TABLENAME = 'H1N1'

In [ ]:
print(engine.table_names)

<bound method Engine.table_names of Engine(mysql+pymysql://dba1:***@40.88.43.91:3306/e2e)>

In [ ]:
df.to_sql(TABLENAME, con=engine)

*** NOTE: When initially running this code, you may find a error message about the server refusing connection, please see the section titled "Fixing Connection"

## Fixing Connection

10.

A. SSH into the remote machine

B. Run command: sudo nano /etc/mysql/mysql.conf.d/mysqld.cnf

C. Change bind address to 0.0.0.0 

D. Control + o enter to save, control + x to exit

11.

A. Run command:  /etc/init.d/mysql restart

B. This should address the issue from the previous section... Rerun code from step 9!

## Create a dump (.sql) file that contains a physical backup of the file

12. We will be using the production and replica server from the first steps

A. SSH into the production server on your terminal, run the command: sudo sudo mysqldump e2e > backup_e2e.sql

- Check this worked with 'ls' command

B. While still in the production server, run the command (with the IP/user of the second terminal) : 
 scp backup_e2e.sql replica@[ReplicaIPaddresshere]:/home/replica
 - Enter replica (2nd server) password when prompted 
 - Check by SSH in another terminal for the second VM (Replica) 
    > Run command: nano backup_e2e.sql

    > You should see H1N1

## Create a trigger that pushes an error message to the user when a new row is inserted that has h1n1_concern greater than a value of 3. The trigger should be called h1n1_concern_trigger and should have the following error message: “H1N1 concern should be a numerical value between 0 and 3.

13. Run the following Commands in MySQLWorkbench:

In [ ]:
show databases; 
use e2e;
select * from H1N1 limit 20;
delimiter $$
CREATE TRIGGER H1N1_concern_trigger BEFORE INSERT ON H1N1
FOR EACH ROW
BEGIN
IF NEW.h1n1_concern > 3 THEN
SIGNAL SQLSTATE '45000'
SET MESSAGE_TEXT ='ERROR: H1N1 CONCERN SHOULD BE A NUMERICAL VALUE BETWEEN O AND 3. PLEASE TRY AGAIN.'
;END IF;
END; $$

-- Test the trigger by picking a value over 3 
INSERT INTO H1N1 (h1n1_concern) VALUES (4);